body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dcd5d5;
    min-height: 100vh;
}

h1 {
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(223, 162, 88);
    padding: 48px;
    border: 2px solid black;
    border-radius: 16px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    border: 1px solid black;
}

.gridSquare {
    background-color: rgb(232, 224, 214);
}

.gridSquare::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.inner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 16px;
    margin: 20px
}

button {
    padding: 12px;
    color: black;
    background-color: rgb(232, 224, 214);
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}