body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
}

.gridSquare {
    background-color: rgb(232, 224, 214);
}

.gridSquare::before {
    content: '';
    display: block;
    padding-top: 100%;
}